# Use npmjs as the registry for all packages
registry=https://registry.npmjs.org/

# For the @sparrowstack scope, use the same registry (could be a private registry if desired)
@sparrowstack:registry=https://registry.npmjs.org/

# Always include auth token when connecting to npmjs
always-auth=true

# Token for npmjs
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# When publishing, use the 'restricted' access to keep packages private
access=restricted

# Force exact versions for new dependencies
save-exact=true

# If you want to ensure Node engine compliance
engine-strict=true